<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ocr_log/room.css' %}">

</head>
<body>
    <div class="wrap">
        <div class="log">
            <h2>Your Log</h2>
            <div class="log_text">
                <h4>Log</h4>
                <textarea id="chat-log" readonly></textarea>
            </div>

            <div class="chat">
                <input id="chat-message-input" type="text" class="login_id input" placeholder="Type your message">

            </div>
            <div class="submit">
                <input id="chat-message-submit" type="submit" value="Chat">
            </div>

        </div>

        <div class = "map">

        </div>

    </div>

    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/ocr_log/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const logTextArea = document.querySelector('#chat-log');
            const timestamp = data.timestamp || '';
            logTextArea.value += `${timestamp} ${data.message}\n`;
            logTextArea.scrollTop = logTextArea.scrollHeight;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>